torch==2.4.0
torchvision==0.19.0
xformers==0.0.27.post2
pytorch-lightning==2.4.0
numpy==1.26.4
dataclasses_json
easydict
opencv-python>4.5
imageio
imageio-ffmpeg
rembg==2.0.61
trimesh
moviepy==1.0.3
pymeshfix==0.17.0
igraph==0.11.8
pyvista==0.36.1
openai==1.58.1
transformers==4.42.4
diffusers==0.30.3
xatlas
onnxruntime==1.20.1
tenacity
accelerate==0.33.0
pydantic==2.9.2
colorlog
json-repair
scikit-learn
omegaconf
coacd
typing_extensions==4.14.1
ninja
packaging
matplotlib
scipy
sentencepiece==0.2.0
loguru
optree
plyfile
tables
# API server
fastapi==0.115.0
uvicorn[standard]==0.30.0
